<h2>Angular 2 : Core Concept</h2>
 
<p>Component: </p>
<ul>
	<li> <code>Input and output</code></li>
	<li> <code>LifeCycle</code></li>
	<li> <code>Providers</code></li>
</ul>

<p>Dependency Inject :</p>
<ul>
	<li> <code>Single API</code></li>
	<li> <code>Hierarchical</code></li>
</ul>

<p>Property Binding:</p>
<ul>
	<li> <code>Template []</code></li>
	<li> <code>Zone.js</code></li>
	<li> <code>Uni directional</code></li>
</ul>
<p> Notice below code and how they rendered</p>
<hr>
<br>
<div>
<name-component></name-component>
</div>
<div>
<other-name-component></other-name-component>
</div>
<hr>
<center>Brought to you by Ram</center>
