.help-block {
    font-size: 12px;
}

.panel-default > .panel-heading {
  color: #000;
  background-color: #82CAFA;
  padding: 4px 12px 4px;
  font-size: 13.025px;
  font-family: Arial, Helvetica, sans-serif;
}

table {
  font-family: Arial;
  font-size: 12.025px;
}

thead {
  font-family: Arial;
  font-size: 12.025px;
  font-weight: bold;
  background-color: orange;
}

table caption {
	padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 12px;
}
.svg {
    display: block;
}
.nvd3 text {
  font: normal 12px Arial !important;
}
.nvd3 .title {
  font: normal 12px Arial !important;
}
.nvtooltip {
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: transparent !important;
}

.nv-bars rect {
  width: 5px;
}