<div>
	<h4>Template driven Form</h4>
	<form class="form-horizontal" novalidate (ngSubmit)="onSubmit(employee.value , employee.valid)" #employee="ngForm">
	  <div class="form-group">
		<label for="fname" class="col-sm-2 control-label">FirstName</label>
		<div class="col-sm-10">
		  <input type="text" class="form-control" id="fname" #fname="ngModel" placeholder="First Name" name="fname"  [(ngModel)]="employee.fname" required pattern="[a-zA-Z]+">
          <small [hidden]="fname.valid || (fname.pristine && !employee.submitted)" class="text-danger">First Name is required and only alphabets allowed</small>
		</div>
	  </div>
      <div class="form-group">
		<label for="lname" class="col-sm-2 control-label">LastName</label>
		<div class="col-sm-10">
		  <input type="text" class="form-control" id="lname" #lname="ngModel" placeholder="Last Name" name="lname"  [(ngModel)]="employee.lname" required pattern="[a-zA-Z]+">
          <small [hidden]="lname.valid || (lname.pristine && !employee.submitted)" class="text-danger">Last Name is required and only alphabets allowed</small>
		</div>
	  </div>

      <div class="form-group" ngModelGroup="gender">
		<label for="gender" class="col-sm-2 control-label">Gender</label>
		<div class="col-sm-10">
		  <input type="radio" class="form-control" id="gen" value="Male" required  #gen="ngModel" name="gen" [(ngModel)]="male">Male
		</div>
        <div class="col-sm-10">
		  <input type="radio" class="form-control" id="gen" value="Female" required  #gen="ngModel" name="gen" [(ngModel)]="female">Female
		</div>
	  </div>

	  <div class="form-group"  ngModelGroup="activities">
		<label for="gender" class="col-sm-2 control-label">Activities</label>
		<div class="col-sm-10">
		  <input type="checkbox" class="form-control" id="swiming" value="swiming"   #activities="ngModel" name="running" [(ngModel)]="swiming">Swiming
           
		</div>
        <div class="col-sm-10">
		  <input type="checkbox" class="form-control" id="running" value="running"   #activities="ngModel" name="swiming" [(ngModel)]="running">Runing
        </div>
	  </div>  


	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		  <button type="submit" class="btn btn-default" [disabled]=!employee.valid>Submit</button>
		</div>
	  </div>
	</form>
<div>
<div *ngIf="emps.length > 0">
  <table>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Running</th>
      <th>Swiming</th>
      <td>&nbsp;</td>
    </tr>
    <tr *ngFor="let em of emps; let counter= index">
      <td>{{counter+1}}</td>
      <td>{{em.fname}}</td>
      <td>{{em.lname}}</td>
      <td>{{ em.gender.gen}}</td>
      <td>{{em.activities.swiming | yesNo}}</td>
      <td>{{em.activities.running | yesNo}}</td>
      <td><input type="button" id="btn" value="Delete" (click)="delete(counter)"></td>
    </tr>
  </table>
  </div>