<div class="home jumbotron centered">
  <div class="container">   
   
      <div class="row form-group">
        <div class="col-xs-6">
           <label class="col-xs-3 control-label">Frequency :</label> 
           <select class="selectpicker" type="string" [(ngModel)]="param" (ngModelChange)="changeInSelect()">
            <option *ngFor="let master of masterData" value= {{master.name}}>
              {{master.id}}
            </option>
        </select>         
       </div>  
    </div> 
    
    <div  *ngIf="_monitorModel != undefined">
    <div class="row form-group">
      <div class="col-xs-6">
      <ul class="nav nav-pills" role="tablist" >
        <li role="presentation" class="active"><a href="#">Total 
          <span class="badge"> {{_monitorModel.hits.total}}</span>
          </a></li>
        <li role="presentation" class="active"><a href="#">UpperBound 
          <span class="badge">{{_monitorModel.aggregations.words.doc_count_error_upper_bound}}</span>
          </a></li>       
      </ul>
      </div> 
    </div> 
    </div>
   
  <div *ngIf="_monitorModel != undefined">
     <div class="row form-group">
      <div *ngFor="let bucket of _monitorModel.aggregations.words.buckets;">          
          <div class="col-lg-3 col-md-6">
            <div class="Panel panel-primary"> 
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-3 text center"> {{ bucket.key }} </div>
                </div>
              </div> 
              <div class="panel-footer">
                <span>{{bucket.doc_count}}</span> 
                 <div *ngFor="let buck of bucket.responsecodes.buckets;">
                   <label [ngClass]="(buck.key == 200)? 'label label-success': 'label label-danger'">count: {{buck.doc_count}}</label>
                 </div>               
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  
  <div>
    <div class="row form-group">
      <div class="col-lg-6 col-md-12">
        <div class="Panel panel-primary"> 
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6 text center"> Success Count </div>
            </div>
          </div> 
          <div class="panel-footer">
            <app-chart></app-chart>                           
              <div class="clearfix"></div>
          </div>
        </div>
      </div> 
       <div class="col-lg-6 col-md-12">
        <div class="Panel panel-primary"> 
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6 text center"> Failure Count </div>
            </div>
          </div> 
          <div class="panel-footer">
            <app-chart></app-chart>                           
              <div class="clearfix"></div>
          </div>
        </div>
      </div>       
    </div>   
  </div>

 </div>
</div>