<div class="home jumbotron centered">
  <div class="container">   
    <!-- HERE: added this error message -->
    <section *ngIf="errorMessage"> {{errorMessage}} </section>
    <div class="row" *ngIf="_monitorModel">
      <div *ngFor="let res of modelResult;">        
        <div *ngIf=" res != null">          
          <div class="col-lg-2 col-md-2">
            <div class="Panel panel-default panel-heading"> 
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-1 text center"> {{ res.vendor}} 
                    <a routerLink="/vendordetails" routerLinkActive="active"><i class="fa fa-cog" ></i></a>
                  </div>
                </div>
              </div> 
              <div class="panel-footer">
                <span>Total:{{ res.successCount }}</span> 
                 <div>
                  <label class="label label-success"> success: {{ res.successCount }} </label>
                   <label class="label label-danger">fail: {{ res.failedCount }}</label>
                 </div>                
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
 
    <div class="row">
      <div class="col-lg-6 col-md-6" *ngIf="modelResult.length > 0 && _monitorModel">
        <div class="Panel panel-default panel-heading"> 
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3 text center"> Success Chart </div>
            </div>
          </div> 
          <div class="panel-footer">
            <app-chart [chartData]="modelResult"></app-chart>                           
              <div class="clearfix"></div>
          </div>
        </div>
      </div> 
       <div class="col-lg-6 col-md-6" *ngIf="modelResult.length > 0 && _monitorModel">
        <div class="Panel panel-default panel-heading"> 
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3 text center"> Failure Chart </div>
            </div>
          </div> 
          <div class="panel-footer">
            <app-chart [chartData]="modelResult"></app-chart>                           
              <div class="clearfix"></div>
          </div>
        </div>
      </div>     
    </div>   
  
   </div>
</div>