<div class="home jumbotron centered">
  <div class="container">   
    <!-- HERE: added this error message -->
    <section *ngIf="errorMessage"> {{errorMessage}} </section>
    <div class="row" *ngIf="_monitorModel != undefined">
      <div class="col-xs-2">      
        <label class="col-sm-2 col-form-label">Frequency</label>
      </div>
      <div class="col-xs-2"> 
        <select class="form-control input-md"  type="string" [(ngModel)]="param" (ngModelChange)="changeInSelect()">
          <option class="dropdown-item" *ngFor="let master of masterData" value= {{master.name}}>
            {{master.id}}
          </option>
        </select> 
      </div>     
      <div class="col-xs-3">
        <span class="badge badge-success">Total : {{_monitorModel.hits.total}}</span>           
        <span class="badge badge-warning"> UpperBound : {{_monitorModel.aggregations.words.doc_count_error_upper_bound}}</span>
      </div>  
    </div>   
    <div class="row" *ngIf="_monitorModel != undefined">
      <div *ngFor="let bucket of _monitorModel.aggregations.words.buckets;">          
          <div class="col-lg-2 col-md-2">
            <div class="Panel panel-default panel-heading"> 
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-1 text center"> {{ bucket.key | unKnownKey }} </div>
                </div>
              </div> 
              <div class="panel-footer">
                <span>{{bucket.doc_count}}</span> 
                 <div *ngFor="let buck of bucket.responsecodes.buckets">
                   <label [ngClass]="(buck.key == 200)? 'label label-success': 'label label-danger'">count: {{buck.doc_count}}</label>
                 </div>               
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
      </div>
    </div> 
 
    <div class="row" *ngIf="_monitorModel != undefined">
      <div class="col-lg-6 col-md-6">
        <div class="Panel panel-default panel-heading"> 
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3 text center"> Success Chart </div>
            </div>
          </div> 
          <div class="panel-footer">
            <app-chart [bucketCollection]="successData"></app-chart>                           
              <div class="clearfix"></div>
          </div>
        </div>
      </div> 
       <div class="col-lg-6 col-md-6">
        <div class="Panel panel-default panel-heading"> 
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-3 text center"> Failure Chart </div>
            </div>
          </div> 
          <div class="panel-footer">
            <app-chart [bucketCollection]="failedDated"></app-chart>                           
              <div class="clearfix"></div>
          </div>
        </div>
      </div>     
    </div>   
  
   </div>
</div>